.about {
  background-color: var(--black-color);
  padding-top: 40px;
  color: #fff;
  padding-bottom: 40px;
  min-height: 690px;
  position: relative;
  &__inner {
    display: flex;
  }
  &__img-mobile {
    display: none;
  }
  &__title {
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 63px;
  }
  &__text {
    margin-top: 145px;
    font-size: 22px;
    text-transform: uppercase;
  }
  &__text-wrapper {
    margin-top: 60px;
    max-width: 510px;
  }
  &__text-title {
    text-align: right;
    margin-right: 12px;
  }
  &__descr {
    max-width: 510px;
    font-weight: 400;
    text-align: justify;
    margin-bottom: 32px;
  }
  &__img-wrapper {
    width: 636px;
    height: 616px;
    margin: -78px 0 0 45px;
  }
}

@media (max-width: 1220px) {
  .about__inner {
    display: flex;
    align-items: center;
  }
  .about__img-wrapper {
    width: 490px;
    height: 500px;
    margin: 0px 0 0 40px;
  }
  .about__text {
    margin-top: 110px;
  }
}

@media (max-width: 1080px) {
  .about__img-wrapper {
    display: none;
  }
  .about__img-mobile {
    display: block;
    width: 490px;
    height: 500px;
  }
  .about__inner {
    justify-content: center;
  }
  .about__text {
    margin-top: 0px;
  }
  .about__text-title {
    margin-right: 0;
  }
}

@media (max-width: 568px) {
  .about {
    padding: 60px 0px 40px 0px;
  }
  .about__img-mobile {
    margin-top: 20px;
    width: 371px;
    height: 385px;
  }
  .about__text {
    font-size: 16px;
  }
  .about__descr {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .about__img-mobile {
    width: 280px;
    height: 270px;
  }
  .about__text {
    font-size: 14px;
  }
  .about__descr {
    font-size: 12px;
    margin-top: 0px;
  }
  .about__text-wrapper {
    margin-top: 40px;
  }
  .about {
    min-height: 540px;
  }
 }