.footer {
  background-color: var(--black-color);
  color: #fff;
  padding: 88px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__inner-mobile {
    display: none;
  }
  &__main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
  }
  &__other {
    display: flex;
    flex-direction: column;
  }
  &__footer-title {
    font-size: 14px;
    text-transform: uppercase;
    color: #b9b9b9;
    margin-bottom: 40px;
  }
  &__footer-item {
    font-size: 22px;
    text-transform: uppercase;
  }
  &__footer-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__btn {
    text-transform: uppercase;
    width: 135px;
    height: 40px;
    background-color: #fff;
    color: var(--black-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
  }
  &__other-inner {
    margin-top: 89px;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 12px;
  }
  &__other-link {
    font-size: 11px;
    color: #b9b9b9;
    text-transform: uppercase;
  }
}


@media (max-width: 991px) {
  .footer__inner {
    display: none;
  }
  .footer__inner-mobile {
    display: block;
    gap: 40px;
    height: 100%;
    padding: 0 40px;
  }
  .footer {
    &__mobile-main {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 240px;
    }
    .mobile-other__inner {
      margin-top: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 60px;
    }
    &__mobile-links {
      display: flex;
      justify-content: center;
      margin-top: 60px;
      gap: 100px;
    }
  }
}

@media (max-width: 662px) {
  .footer__footer-list {
    gap: 10px;
  }
  .footer__footer-item {
    font-size: 16px;
  }
  .footer__mobile-main {
    gap: 0;
    justify-content: space-between;
  }
  .footer__footer-title {
    margin-bottom: 24px;
  }
  .footer .mobile-other__inner {
    gap: 24px;
  }
}

@media (max-width: 480px) {
  .footer__inner-mobile {
    gap: 0;
    justify-content: space-between;
    padding: 0;
  }
  .footer__other-link {
    font-size: 8px;
  }
  .footer__footer-item {
    font-size: 12px;
  }
  .footer__mobile-links {
    gap: 40px;
    justify-content: space-between;
  }
  .footer {
    padding: 40px 0;
  }
}