.media {
  padding: 104px 0;
  &__inner {
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }
  &__title {
    font-size: 14px;
    text-transform: uppercase;
  }
  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--black-color);
    border-radius: 50px;
    width: 118px;
    height: 40px;
    text-transform: uppercase;
    &:hover {
    border: 1px solid #000;
    filter: drop-shadow(rgba(0,0,0,0.1) 0rem 1rem 3px);
    }
  }
  &__welcome {
    width: 600px;
    min-height: 306px;
    padding-right: 65px;
    div {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  &__item {
    min-height: 306px;
    display: flex;
    width: 600px;
    flex-direction: column;
    padding: 32px 24px;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.6s;
  }
  &__item-title {
    text-transform: uppercase;
    font-size: 22px;
    transition: all 0.6s;
    position: relative;
  }
  &__item-img {
    position: absolute;
    top: 0;
    right: 0;
    width: 307px;
    height: 306px;
    z-index: -100;
  }
  &__item-inner {
    border: 1px solid var(--black-color);
    border-bottom: none;
    border-right: none;
    width: 306px;
    height: 306px;
    position: absolute;
    left: 0;
    top: 0;
    padding: 32px 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__item-big {
    position: relative;
    width: 893px;
    min-height: 306px;
    border: 1px solid var(--black-color);
    border-top: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 32px 24px;
    cursor: pointer;
  }
  &__big-img {
    position: absolute;
    z-index: -10;
    top: -1px;
    left: -1px;
    bottom: -1px;
  }
  &__star {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
.media__item,
.media__item-big {
  transition: all 0.4s;
  &:hover {
    .media__item-title {
      width: 310px;
    }
  }
}

.card-1 {
  border: 1px solid var(--black-color);
  border-bottom: none;
}
.card-2 {
  border: 1px solid var(--black-color);
  border-right: none;
  border-bottom: none;
  .media__item-title {
    width: 540px;
  }
}
.card-3 {
  position: relative;
  border: 1px solid var(--black-color);
}
.divider {
  height: 1px;
  width: 600px;
  position: absolute;
  top: -1px;
  left: 0;
  background-color: var(--black-color);
}

@media (max-width: 1220px) {
  .media {
    &__inner {
      justify-content: center;
    }
    &__welcome {
      width: 100%;
      min-height: 50px;
      padding-right: 0;
    }
    &__star {
      display: none;
    }
  }
  .card-1 {
    margin-top: 40px;
  }
  .card-2 {
    border-right: 1px solid var(--black-color);
  }
  .media__item-big {
    position: relative;
    width: 600px;
  }
  .divider {
    display: none;
  }
}
@media (max-width: 991px) {
  .media {
    padding: 60px 0px 40px 0px;
  }
}
@media (max-width: 680px) {
  .media__item,
  .media__item-big {
    width: 400px;
    min-height: 240px;
  }
  .media__item-title {
    font-size: 18px;
    max-width: 350px;
  }
  
}

@media (max-width: 480px) {
  
  .media__item,
  .media__item-big {
    width: 300px;
    min-height: 240px;
  }
  .media__item-title {
    font-size: 14px;
    max-width: 250px;
  }
  .media__item-date {
    font-size: 12px;
  }
}