.partners {
  padding: 104px 0;
  &__inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 290px);
    border: 1px solid var(--black-color);
  }
  &__item {
    border: 1px solid var(--black-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  &__item-bg {
    background-image: url('./../img/partners/partners-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid var(--black-color);
    background-color: var(--black-color);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__title {
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
  }
}

@media (max-width: 1220px) {
  .partners {
    &__inner {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(6, 290px);
    }
  }
}
@media (max-width: 991px) {
  .partners {
    padding: 60px 0 40px 0;
  }
  .partners__item-title {
    grid-column-start: 1;
    grid-row-start: 1;
  }
}
@media (max-width: 680px) {
  .partners {
    &__inner {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(12, 200px);
    }
  }
}