.projects {
  padding: 104px 0;
  &__wrapper {
    margin-top: 40px;
  }
  &__title {
    text-transform: uppercase;
    font-size: 14px;
  }
  &__text-title {
    text-transform: uppercase;
    font-size: 22px;
  }
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  &__text-one {
    width: 589px;
    border: 1px solid var(--black-color);
    position: relative;
    padding: 0 180px 28px 24px;
  }
  &__one-img {
    position: absolute;
    left: 50px;
    z-index: -100;
    height: 666px;
    width: 605px;
  }
  &__one-title {
    margin-top: 428px;
    font-size: 22px;
  }
  &__descr-title {
    margin-top: 24px;
    text-align: right;
  }
  &__text-descr {
    text-align: justify;
  }
  &__text-two {
    border-top: 1px solid var(--black-color);
    border-bottom: 1px solid var(--black-color);
    width: 305px;
    padding: 32px 25px 0 24px;
  }
  &__text-three {
    border: 1px solid var(--black-color);
    width: 306px;
  }
  &__stars {
    position: absolute;
    right: 35px;
    top: 36px;
    display: flex;
    gap: 12px;
  }
  &__three-top {
    position: relative;
    height: 333px;
    right: 0;
    bottom: 0;
    padding-top: 32px;
    padding-left: 24px;
  }
  &__three-img {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  &__three-star {
    position: absolute;
    bottom: 25px;
    left: 24px;
  }
  &__three-bottom {
    background-color: var(--black-color);
    height: 333px;
    position: relative;
  }
  &__link {
    position: absolute;
    top: 48px;
    right: 24px;
  }
  &__three-title {
    color: #fff;
    text-transform: uppercase;
    padding: 245px 57px 0 24px;
    font-size: 22px;
  }
}


@media (max-width: 1220px) {
  .projects__text-two {
    border-right: 1px solid var(--black-color);
  }
  .projects__wrapper {
    justify-content: center;
  }
  .projects__text-three {
    display: flex;
    width: 894px;
  }
  .projects__three-bottom {
    width: 530px;
  }
}

@media (max-width: 916px) {
  .projects {
    padding: 60px 0px 40px 0px;
  }
  .projects__one-img {
    left: 0;
  }
  .projects__text-two {
    width: 589px;
    border-bottom: none;
    border-top: none;
    border-left: 1px solid var(--black-color);
    padding-bottom: 24px;
  }
  .projects__text-three {
    width: 589px;
  }
}

@media (max-width: 620px) {
  .projects__descr-title {
    text-align: left;
    margin-top: 8px;
  }
  .projects__text-one {
    width: 460px;
    height: 480px;
  }
  .projects__one-title {
    margin-top: 244px;
  }
  .projects__text-two {
    width: 460px;
  }
  .projects__text-three {
    width: 460px;
  }
  .projects__three-star {
    top: 45px;
  }
}

@media (max-width: 480px) {
  .projects__text-one {
    padding: 24px;
    width: 300px;
    height: 320px;
  }
  .projects__text-two {
    width: 300px;
  }
  .projects__one-img {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .projects__one-title {
    margin-top: 104px;
    font-size: 14px;
  }
  .projects__descr-title {
    font-size: 12px;
  }
  .projects__text-descr {
    font-size: 12px;
  }
  .projects__text-three {
    flex-direction: column;
    width: 300px;
  }
  .projects__three-bottom {
    width: 300px;
  }
  .projects__two-title,
  .projects__text-title {
    font-size: 14px;
  }
}